<div id="<%= dom_id carteira %>">
  <p>
    <strong>Saldo:</strong>
    <%= carteira.saldo %>
  </p>

  <p>
    <strong>Deposito:</strong>
    <%= carteira.deposito %>
  </p>

  <p>
    <strong>Saque:</strong>
    <%= carteira.saque %>
  </p>

</div>
